#content{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.option-list{
    display: flex;
    gap: 50px
}
.header-option{
    font-size: 30px;
}
#logo{
    width: 70px;
    height: 50px;
}
.company-name{
    font-size: 50px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}